---
import Layout from "../layouts/Layout.astro";
import { imageConfig } from "astro:assets";
import tmp_bgImage from "../assets/images/tmp_top.jpg";
import {
  SignLanguageCard,
  SignLanguageCardList,
} from "../components/SignLanguageCard";
import styles from "./index.module.css";

const cardData = [
  {
    title: "変わる/代わる/替わる",
    description: "「かわる」の使い分けについて",
  },
  { title: "ない", description: "「ない」の使い分けについて" },
  { title: "多義語：おわり", description: "〈おわり〉の使い分けについて" },
  {
    title: "「目」にまつわる手話表現",
    description: "目にまつわつる手話表現について",
  },
];
---

<Layout title="ホーム">
  {/* この部分が Layout.astro の <slot /> に挿入される */}
  <h1>メインコンテンツ</h1>
  <img
    src={tmp_bgImage.src}
    class={styles.BackGroundImage}
    alt="Hero Image"
    width="720"
    height="360"
    style="display: none"
  />
  <p>本文</p>
  <h2>最近学んだこと</h2>
  <SignLanguageCardList>
    {cardData.map((card) => <SignLanguageCard key={card.title} {...card} />)}
  </SignLanguageCardList>
</Layout>
