---
//import styled from "@emotion/styled";
import { css } from "@emotion/react";

// フロントマターで必要なデータを取得
const navLinks = [
  { href: "/", label: "ホーム" },
  { href: "/about", label: "このサイトについて" },
  { href: "/blog", label: "勉強の記録" },
  { href: "/contact", label: "コンタクト" },
];
---

<header>
  <nav>
    <ul>
      {
        navLinks.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  /* ヘッダーのスタイル */
  header {
    background-color: #f0f0f0;
    padding: 1rem;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* 横並びにする */
  }
  nav li {
    margin-right: 1rem;
  }
</style>
