:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --text-color-black: #1f1f1f;
  --horizontal-padding: 4rem;
  --header-height: 6rem;
  --smoke-white: f5f5f5;
  --radius: 1rem;
  --z-index-1-badge: 1;
  --z-index-2-tool-tip: 2;  /* ツールチップ、ポップオーバー、フローティングボタン */
  --z-index-3-global-header: 3; 
  --z-index-4-overlay: 4;   /* モーダル、ドロワー、オーバーレイ */
}

body {
  font-family: "Sawarabi Gothic", serif;
  font-weight: 400;
  font-style: normal;
  padding-right: var(--scrollbar-width, 0);
}

p {
    font-family: "Shippori Mincho", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button {
  cursor: revert;
}

:focus-visible {
  /*outline: 3px solid var(--primary-color);*/
  outline-offset: 2px;
  border-radius: var(--radius);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}