---
const { title = "ホーム" } = Astro.props; // デフォルトタイトルを設定
import SiteHeader from "../components/SiteHeader.astro";
import styles from "./Layout.module.css";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="手話学習の記録サイト" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="public/styles/reset.css" />
    <link rel="stylesheet" href="public/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <!-- Googleフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Shippori+Mincho&display=swap&unicode-range=U+3008,U+3009,U+300a,U+300b,U+300c,U+300d,U+300e,U+300f,U+3010,U+3011,U+3014,U+3015,U+ff08,U+ff09,U+ff3b,U+ff3d,U+ff5b,U+ff5d"
      rel="stylesheet"
    />
    <title>{title} | ゆうの手話学習の記録</title>
  </head>
  <body>
    <SiteHeader />
    <main class={styles.mainContent}>
      <slot />
    </main>
    <footer class={styles.siteFooter}>
      <small
        >&copy; 2024- yuu's Japanese Sign Language Study Website. All rights
        reserved.</small
      >
    </footer>
  </body>
</html>
